@model Building
@{
    ViewBag.Title = "管理小区 - " + Model.Estate;
}
<link rel="stylesheet" href="~/assets/js/wizard/css/jquery.steps.css">
<style>
    section {
        overflow-y: auto;
    }
</style>
<div class="row">
    <div id="paper-top">
        <div class="col-sm-3">
            <h2 class="tittle-content-header">
                <i class="icon-folder"></i>
                <span>
                    管理小区
                </span>
            </h2>
        </div>
    </div>
</div>
<ul id="breadcrumb">
    <li>
        <span class="entypo-home"></span>
    </li>
    <li>
        <i class="fa fa-lg fa-angle-right"></i>
    </li>
    <li>
        <a href="#" title="网格管理">网格管理</a>
    </li>
    <li>
        <i class="fa fa-lg fa-angle-right"></i>
    </li>
    <li>
        <a asp-action="Estate" asp-controller="Grid" title="小区管理">小区管理</a>
    </li>
    <li>
        <i class="fa fa-lg fa-angle-right"></i>
    </li>
    <li>
        <a href="#" title="@Model.Estate.Title">@Model.Estate.Title</a>
    </li>
    <li>
        <i class="fa fa-lg fa-angle-right"></i>
    </li>
    <li>
        <a href="#" title="@Model.Title">@Model.Title</a>
    </li>
</ul>
<div class="row">
    <div class="content-wrap">
        <div class="col-sm-8">
            <div class="nest">
                <div class="title-alt">
                    <h6>
                        单元信息
                    </h6>
                    <div class="titleToggle">
                        <a class="nav-toggle-alt" href="#Buildings">
                            <span class="entypo-up-open"></span>
                        </a>
                    </div>
                </div>
                <div id="Buildings">
                    <div id="wizard-tab">
                        @for (var x = 1; x <= Model.Units; x++)
                        { 
                            <h2>@x</h2>
                            <section>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>楼层</th>
                                            @for (var i = 1; i <= Model.Doors; i++)
                                            {
                                                <th>@i 门</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (var i = Model.TopLayers; i >= Model.BottomLayers; i--)
                                        {
                                            if (i == 0)
                                            {
                                                continue;
                                            }
                                            <tr>
                                                <td>
                                                    @if (i > 0)
                                                    {
                                                        <span>@i 层</span>
                                                    }
                                                    else
                                                    { 
                                                        <span>B@(-i) 层</span>
                                                    }
                                                </td>
                                                @for (var j = 1; j <= Model.Doors; j++)
                                                {
                                                    <td class="dragable" data-layer="@i" data-door="@j">
                                                        @{ 
                                                            var house = Model.Houses.Where(a => a.Unit == x && a.Layer == i && a.Door == j).SingleOrDefault();
                                                        }
                                                        @if (house != null)
                                                        { 
                                                            <div class="house-item" data-house-id="@house.Id">
                                                                @if (house.HouseStatus == HouseStatus.中国电信)
                                                                { 
                                                                    <img src="~/assets/img/ct.png" />
                                                                    <span>@house.FullName (@house.Phone)</span>
                                                                }
                                                            </div>
                                                        }
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </section>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="nest">
                <div class="title-alt">
                    <h6>
                        未匹配用户
                    </h6>
                    <div class="titleToggle">
                        <a class="nav-toggle-alt" href="#PendingAddress">
                            <span class="entypo-up-open"></span>
                        </a>
                    </div>
                </div>
                <div class="body-nest" id="PendingAddress">
                    @if (ViewBag.PendingAddresses.Count == 0)
                    { 
                        <span>没有找到未匹配的地址信息</span>
                    }
                    @foreach (Record x in ViewBag.PendingAddresses)
                    { 
                        <div class="pending-address">
                            @x.ImplementAddress
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="content-wrap">
        <div class="col-sm-8">
            <div class="nest">
                <div class="title-alt">
                    <h6>
                        用户明细
                    </h6>
                    <div class="titleToggle">
                        <a class="nav-toggle-alt" href="#CustomerDetail">
                            <span class="entypo-up-open"></span>
                        </a>
                    </div>
                </div>
                <div class="body-nest" id="CustomerDetail">
                    <div class="x-scroll">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>更新时间</th>
                                    <th>接入号</th>
                                    <th>用户状态</th>
                                    <th>用户姓名</th>
                                    <th>四级承包人名称</th>
                                    <th>四级承包体名称</th>
                                    <th>当月出账</th>
                                    <th>中投</th>
                                    <th>代理费</th>
                                    <th>一次佣金</th>
                                    <th>欠费</th>
                                    <th>装机地址</th>
                                    <th>标准地址</th>
                                    <th>套餐</th>
                                    <th>身份证号码</th>
                                    <th>联系电话</th>
                                    <th>是否家庭融合宽带</th>
                                </tr>
                            </thead>
                            <tbody id="list-customer-details"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/wizard/build/jquery.steps.js"></script>
<script>
    $(document).ready(function () {
        $("#wizard-tab").steps({
            headerTag: "h2",
            bodyTag: "section",
            transitionEffect: "none",
            enableFinishButton: false,
            enablePagination: false,
            enableAllSteps: true,
            titleTemplate: "#title#",
            cssClass: "tabcontrol"
        });
    });
</script>